<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".websiteblocking.KeepDnsVpnSpikeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Keep" />

    </application>
</manifest>
